{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h1> L&F </h1>
     <h3> Welcome to the Lost and Found Support Community. </h3>

     <p>
        Have you lost any item and don't know how you will find it now?
        <br>
        Have you found something and aren't sure what to do about it?
        <br>
        L&F is the place for you.

        <hr>

        Post about your lost item or found item.
        <br>
        Check the feeds to see if your lost item has been posted by someone else.
        <br>
        Check the feeds to check if the item you found has been posted as lost.

        <hr>

        Claim the item if it belongs to you by sending a message to the respective person. You will have to show proof it belongs to you.

        <hr>
        Mark the item as claimed if an item you found belonged to someone and was claimed with proof.
        <hr>
        <strong>L&F is here for your lost items. But sorry, we don't deal with lost souls or lost hearts.</strong>
     </p>
{% endblock %}
