{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h1> DISCLAIMER </h1>
     <h3>L&F MAKES NO GUARANTEE OF VALIDITY</h3>

     <p>
        We take no liability of false claims.
        <br>
        The contact information provided here will not be used for business purposes or sold to third party for any transactions.
        <br>
        We take no guarantee of genuineness of the posts made here; either lost post or found post.

        <hr>

        Use the website at your own discretion.
        <br>

        <hr>

        Posts about nudity, pornography, buy/sell of narcotic substances, illegal drugs, weapons will be immediately pulled down. And concerned authorities will be notified.

        <hr>
        Be respectful and courteous to community members.
        <hr>
        <strong>L&F Comunnity belongs to you. You are equally responsible to keep the community free of frauds and false claims.</strong>
     </p>
{% endblock %}
